* {
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
}

section>h1 {
  margin: 20px;
  font-size: 25px;
}

main {
  margin: 10px
}

h1 {

  color: #008275;
  font-weight: 1000;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;


}

nav {
  background-color: #008275;
  font-size: 16px;
  width: 100%;
  height: 25px;
  word-spacing: 2em;
  padding: 10px;
  padding-left: 25px;

}

nav>a {
  color: #eceeef;
  text-decoration: none;
}

table {
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 14px;

}

legend {
  border: 1px;
}


.width {
  width: 100%;
}

i {
  line-height: 50px;
}

strong {
  text-decoration: underline;
}