:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --spacing: 12px;

  /* Font Size */
  --font-large: 20px;
  --font-regular: 16px;
  --font-small: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo {
  font-size: 20px;
}

header .logo i {
  color: red;
}

header .icons .fa-search {
  margin-right: 12px;
}

/* Video player */

.player {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: black;
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

/* Video Info */
.infoAndUpNext {
  padding: 12px;
}

/* Meta Data */
.Info .metadata .hashtags {
  display: flex;
  font-size: 12px;
  color: #045fd4;
}

.Info .metadata .hashtags li {
  margin-right: 12px;
}

.Info .metadata .titleAndButton {
  display: flex;
}

.Info .metadata .titleAndButton .title {
  font-size: 14px;
  margin-right: 12px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.Info .metadata .titleAndButton .moreBtn {
  height: 100%;
}

.Info .metadata .views {
  font-size: 12px;
  color: gray;
}

/* Action Buttons */
.Info .actions {
  display: flex;
  justify-content: space-around;
  margin: 12px 0;
}

.Info .actions button {
  display: flex;
  flex-direction: column;
  color: gray;
}

.Info .actions button i {
  margin: 0 auto;
  margin-bottom: 6px;
  font-size: 16px;
}

.Info .actions button i.active {
color: blue;
}

/* Channel description */
.Info .channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}

.Info .channel .metadata {
  display: flex;
  align-items: center;
}

.Info .channel .metadata img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 12px;
}

.Info .channel .metadata .info {
  display: flex;
  flex-direction: column;
}

.Info .channel .metadata .info .name {
font-size: 14px;
}

.Info .channel .metadata .info .subscribers {
  font-size: 12px;
  color: grey;
}

.Info .channel .subscribe {
  text-transform: uppercase;
  color: red;
}

/* Up next */

.upNext {
  padding: 6px 8px;
}

.upNext > .title {
  font-size: 14px;
  color: gray;
}

.upNext .items {
  display: flex;
  margin-top: 12px;
}

.upNext .items .img {
  flex-basis: 35%;
  margin-right: 12px;
}

.upNext .items .img img{
  width: 100%;
}


.upNext .items .itemInfo {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

.upNext .items .itemInfo .title{
  font-size: 12px;
}

.upNext .items .itemInfo .name,
.upNext .items .itemInfo .views {
  font-size: 10px;
  color: gray;
}

.upNext .items .moreBtn {
  flex-basis: 5%;
  height: 100%;
}

.infoAndUpNext{
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 750px) {

.infoAndUpNext {
  flex-direction: row;
}

.upNext {
  padding: 12px;
}

}